.btn-logout{
	background: white;
	border-color: white ;
	color: red;
}

.bandera {
    width: 39px;
    height: 30px;
    padding: 3px;
}
.btnedit{
	width: 47.5rem;
}
p{
	margin-bottom: 0px;
}
.elidioma {
	margin-left: 22px;
	margin-right: 22px;
}
.welcome {
	text-align: center;
}
.info {
	font-size: 2.5rem;
	text-align: center;
}
.close {
    float: right;
    font-size: 6.5rem;
    font-weight: 1;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 #fff;
    opacity: .5;
}
#but-x{
    color: white;
}
.image{
	height: 934px;
	margin-right: -15px;
	background-image: url("img/login.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -709px;
}
.image-registro{
	height: 1043px;
	margin-right: -15px;
	background-image: url("img/registro.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -7px;
}
.image-home{
	height: 923px;
	margin-right: -15px;
	background-image: url("img/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.container-fluid{
	width: auto; 
	height: auto;
}
.col-lg-8{
	
}
.col-lg-4{
	height: 923px;
	width: 100%;
}
.datos{
	margin-left: auto;
	padding-top: 116px;
}
.rregistro{
	margin-top: 40px;
}
h1 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #7a7575;
}
.btn{
	width: 100%;
    height: 126px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    background-color: #327dee;
	border-radius: 0px;
}
#btn-borrar{
	height: 53px;
	background-color: #5d5d5dcc;
}
.form-group {
    margin-bottom: 0.5rem;
}
.form-horizontal {
    padding: 130px;
    padding-top: 80px;
}
.form-control {
	padding: 47px;
	font-size: 1.5rem;
	border: 2px solid #ced4da;
	border-radius: 0px;
	max-width: 100%;
}
.rregistro .form-horizontal{
	padding: 40px;
	padding-top: 0px;
}
.rregistro .form-control{
	padding: 0px;
}
#sel1{
	padding-left: 20px
}
a:link {
    color: #327dee;
    text-decoration: none;
}
.checkbox {
    color: #6c757d;
    font-size: 1.5rem;
    margin-top: 30px;
}
.largerCheckbox{
	width: 25px;
	height: 25px;
}
.col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: -10.333%;
} 
footer{
	padding: 6px;
	text-align: center;
	width: auto;
	height: 46px;
	color: white;
	background-color: black;
}
@media only screen and (max-width: 991px) {
    .col-lg-4{
		display: none !important;
	}
	.form-horizontal {
    margin-top: 2px;
    padding: 2px;
	}
}
@media only screen and (max-width: 1024px) {
    .col-lg-4{
		display: none !important;
	}
	.col-lg-8{
		flex: 0%;
		max-width: 100%;
	}
	.form-horizontal {
    margin-top: 2px;
    padding: 2px;
	}
	.container-fluid {
    height: 990px;
	}
}
@media only screen and (max-width: 350px) {
    .col-lg-4{
		display: none !important;
	}
	.container-fluid {
    margin-bottom: 35px;
	}
}
